<template>
  <div class="p-4 m-2">
    <slot />
  </div>
</template>
<script>
export default {
  name: 'Card'
}
</script>
<style lang="scss" scoped>
@import "@/assets/css/margin.scss";

div {
  border: thin solid rgba(0,0,0,.12);
}
</style>