<template>
  <div :class="['frame-pad d-flex', orientation]">
    <div>
      <label :class="labelPad">{{ label }}</label>
    </div>
    <div class="d-flex flex-align-center">
      <div class="mr-1">{{ prefix }}</div>
      <input
        :value="text"
        type="text"
        :placeholder="placeholder"
        @input="handleInput($event.target._value)"
      />
      <div class="ml-1">{{ postfix }}</div>
    </div>
    <div v-if="hasError">{{ error }}</div>
  </div>
</template>
<script>
export default {
  name: 'Textbox',
  props: {
    label: String,
    placeholder: String,
    value: { type: [String, Number], default: '' },
    vertical: { type: Boolean, default: false },
    formatter: {
      type: Object,
      default: () => ({
        format: (txt) => txt,
        unformat: (txt) => txt,
      })
    },
    filters: { type: Array, default: () => [] },
    validators: { type: Array, default: () => [] },
    prefix: { type: String, default: '' },
    postfix: { type: String, default: '' },
  },
  data: () => ({
    text: '',
    ivalue: '',
    error: '',
  }),
  mounted() {
    this.text = this.formatter.format(this.value)
    this.ivalue = this.value
  },
  computed: {
    hasError() { return this.error.length > 0 },
    labelPad() { return this.vertical ? '' : 'label-pad' },
    orientation() { return this.vertical ? ' flex-column' : '' }
  },
  methods: {
    handleInput(txt) {
      // unformat input
      const unformatted = this.formatter.unformat(txt)
      // clear input from unwanted characters
      for (const filter in this.filters) {
        if(!filter(unformatted)) {
          // cause no changes if the input does not pass filter
          return
        }
      }
      // set text before error checks
      this.text = this.formatter.format(unformatted)
      // check for errors
      for (const validator in this.validators) {
        const error = validator(unformatted)
        if (error.length > 0) {
          this.error = error
          return
        }
      }
      // clear error if everything has passed
      this.error = ''
      this.ivalue = unformatted
      this.$emit('input', this.ivalue)
    }
  }
}
</script>
<style lang="scss" scoped>
@import "@/assets/css/flexbox.scss";
@import "@/assets/css/margin.scss";

.frame-pad {
  padding: .5rem 0;
}
.label-pad {
  margin-right: 1rem;
}
label {
  font-size: 0.8em;
  color: #777;
}
</style>