<template>
<card>
  <textbox
    vertical
    :value="interest.rate"
    :label="$dict('interest_card-label-rate')"
    :postfix="$dict('postfix_ppa')"
    @input="setRate"
  />
  <textbox
    vertical
    :value="interest.year"
    :label="$dict('interest_card-label-year')"
    :postfix="$dict('postfix_year')"
    @input="setYear"
  />
</card>
</template>
<script>
import Card from '@/components/input/Card'
import Textbox from '@/components/input/Textbox'
import Interest from '@/assets/entity/interest'

export default {
  name: 'InterestEditCard',
  components: {
    Card,
    Textbox,
  },
  props: {
    value: { type: Object, required: true },
    index: { type: Number, required: true },
  },
  data: () => ({
    interest: new Interest()
  }),
  watch: {
    value(newVal) {
      this.interest = newVal
    }
  },
  methods: {
    setInterestRate(value) {
      this.interest.interestRate = value
      this.publishObject()
    },
    setInterestYear(value) {
      this.interest.interestYear = value
      this.publishObject()
    },
    publishObject() {
      const data = {
         data: this.interest.copy(),
         index: this.index
      }
      this.$emit('input', data)
    },
    deleteObject() {
      this.$emit('delete', this.index)
    }
  },
}
</script>
