<template>
  <card>
    <textbox
      vertical
      :value="investment.initial"
      :label="$dict('invest_card-label-initial')"
      :prefix="$currency.get()"
      @input="setInitial"
    />
    <textbox
      vertical
      :value="investment.growth"
      :label="$dict('invest_card-label-growth')"
      :postfix="$dict('postfix_ppa')"
      @input="setGrowth"
    />
  </card>
</template>
<script>
import Card from '@/components/input/Card'
import Textbox from '@/components/input/Textbox'
import Investment from '@/assets/entity/investment'

export default {
  name: 'InvestmentEditCard',
  components: {
    Card,
    Textbox,
  },
  props: {
    value: { type: Object, required: true }
  },
  data: () => ({
    investment: new Investment()
  }),
  watch: {
    value(newVal) {
      this.investment = newVal
    }
  },
  methods: {
    setInitial(value) {
      this.investment.initial = value
      this.publish()
    },
    setGrowth(value) {
      this.investment.growth = value
      this.publish()
    },
    toggleForDownPayment() {
      this.investment.forDownPayment = !this.forDownPayment
      this.publish()
    },
    publish() {
      this.$emit('input', this.investment.copy())
    },
  },
}
</script>
