<template>
  <card>
    <textbox
      vertical
      :value="loan.downPayment"
      :label="$dict('loan_card-label-down_payment')"
      :postfix="$dict('postfix_p')"
      @input="setDownPayment"
    />
    <div class="d-flex flex-justify-between">
      <div>{{ $dict('loan_card-label-interest_list') }}</div>
      <btn @click="addInterest()">Hello</btn>
    </div>
    <div class="d-flex flex-column ml-5">
      <interest-edit-card
        v-for="(interest, index) in loan.interests"
        :key="'interest' + index"
        :value="interest"
        :index="index"
        @input="setInterest"
        @delete="deleteInterest"
      />
    </div>
  </card>
</template>
<script>
import Card from '@/components/input/Card'
import Textbox from '@/components/input/Textbox'
import Btn from '@/components/input/Btn'
import InterestEditCard from './InterestEditCard'
import Loan from '@/assets/entity/loan'
// import Interest from '@/assets/entity/interest'

export default {
  name: 'LoanEditCard',
  components: {
    Card,
    Textbox,
    Btn,
    InterestEditCard,
  },
  props: {
    value: { type: Object, required: true },
  },
  data: () => ({
    loan: new Loan(),
  }),
  watch: {
    value(newVal) {
      console.log('Loan new value')
      console.log(newVal)
      this.loan = newVal
    }
  },
  methods: {
    setDownPayment(value) {
      this.loan.downPayment = value
      this.publish()
    },
    addInterest() {
      this.loan.addInterest()
      this.publish()
    },
    setInterest(value) {
      this.loan.setInterest(value)
      this.publish()
    },
    deleteInterest(index) {
      this.loan.deleteInterest(index)
      this.publish()
    },
    publish() {
      this.$emit('input', this.loan.copy())
    }
  }
}
</script>
<style lang="scss" scoped>
@import "@/assets/css/flexbox.scss";
@import "@/assets/css/margin.scss";
</style>