<template>
  <card>
    <Textbox
      vertical
      :value="property.price"
      :label="$dict('property_card-label-price')"
      :prefix="$currency.get()"
      @input="setPrice"
    />
    <Textbox
      vertical
      :value="property.discount"
      :label="$dict('property_card-label-discount')"
      :postfix="$dict('postfix_p')"
      @input="setDiscount"
    />
    <Textbox
      vertical
      :value="property.growth"
      :label="$dict('property_card-label-growth')"
      :postfix="$dict('postfix_ppa')"
      @input="setGrowth"
    />
  </card>
</template>
<script>
import Card from '@/components/input/Card'
import Textbox from '@/components/input/Textbox'
import Property from '@/assets/entity/property'

export default {
  name: 'PropertyEditCard',
  components: {
    Card,
    Textbox,
  },
  props: {
    value: { type: Object, required: true },
  },
  data: () => ({
    property: new Property()
  }),
  watch: {
    value(newVal) {
      this.property = newVal
    }
  },
  methods: {
    setPrice(value) {
      this.property.price = value
      this.publish()
    },
    setDiscount(value) {
      this.property.discount = value
      this.publish()
    },
    setGrowth(value) {
      this.property.growth = value
      this.publish()
    },
    publish() {
      this.$emit('input', this.property)
    }
  },
}
</script>
