<template>
  <card>
    <textbox
      vertical
      :value="salary.initial"
      :label="$dict('salary_card-label-initial')"
      :prefix="$currency.get()"
      :postfix="$dict('postfix_pm')"
      @input="setInitial"
    />
    <textbox
      vertical
      :value="salary.growth"
      :label="$dict('salary_card-label-growth')"
      :postfix="$dict('postfix_ppa')"
      @input="setGrowth"
    />
  </card>
</template>
<script>
import Card from '@/components/input/Card'
import Textbox from '@/components/input/Textbox'
import Salary from '@/assets/entity/salary'

export default {
  name: 'SalaryEditCard',
  components: {
    Card,
    Textbox,
  },
  props: {
    value: { type: Object, required: true }
  },
  data: () => ({
    salary: new Salary()
  }),
  watch: {
    value(newVal) {
      this.salary = newVal
    }
  },
  methods: {
    setInitial(value) {
      this.salary.initial = value
      this.publish()
    },
    setGrowth(value) {
      this.salary.growth = value
      this.publish()
    },
    publish() {
      this.$emit('input', this.salary.copy())
    },
  },
}
</script>
