<template>
  <div>
    <property-edit-card v-model="property" />
    <loan-edit-card v-model="loan" />
    <salary-edit-card v-model="salary" />
    <investment-edit-card v-model="investment" />
  </div>
</template>
<script>

import InvestmentEditCard from './InvestmentEditCard.vue'
import LoanEditCard from './LoanEditCard.vue'
import PropertyEditCard from './PropertyEditCard.vue'
import SalaryEditCard from './SalaryEditCard.vue'
import Property from '@/assets/entity/property'
import Loan from '@/assets/entity/loan'
import Salary from '@/assets/entity/salary'
import Investment from '@/assets/entity/investment'

export default {
  name: 'ScenarioCard',
  components: {
    InvestmentEditCard,
    LoanEditCard,
    PropertyEditCard,
    SalaryEditCard,
  },
  data: () => ({
    property: new Property(),
    loan: new Loan(),
    salary: new Salary(),
    investment: new Investment(),
  }),
}
</script>
