.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
    text-align: center;
}

.flex-justify-between {
    justify-content: space-between;
}