$distance: 15;
$sides: (
  "t": "top",
  "b": "bottom",
  "r": "right",
  "l": "left",
);

@for $dist from 1 to $distance {
  $rem: $dist * 0.25;
  @each $suffix, $side in $sides {
    .m#{$suffix}-#{$dist} {
      margin-#{$side}: #{$rem}rem;
    }
    .p#{$suffix}-#{$dist} {
      padding-#{$side}: #{$rem}rem;
    }
  }
  .m-#{$dist} {
    margin: #{$rem}rem;
  }
  .p-#{$dist} {
    padding: #{$rem}rem;
  }
}