<template>
  <div class="home">
    <scenario-edit-card />
  </div>
</template>

<script>
// @ is an alias to /src
import ScenarioEditCard from '@/components/edit/ScenarioEditCard'
export default {
  name: 'Home',
  components: {
    ScenarioEditCard,
  },
};
</script>
